<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nyam!</title>
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
        <a href="#">Nyam!</a>
        <nav class="desktop-nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Favorite</a></li>
                <li><a href="https://github.com/iamsatriya">About Us</a></li>
            </ul>
        </nav>
        <button class="hamburger-menu">
            <div></div>
            <div></div>
            <div></div>
        </button>
    </header>
    <nav class="mobile-nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li><a href="https://github.com/iamsatriya">About Us</a></li>
        </ul>
    </nav>
    <main>
        <section class="hero">
            <h1>Nyam!</h1>
            <p>Your foodbuddies!</p>
        </section>
        <section id="maincontent" class="intro">
            <h2>Your foodbuddies is here!</h2>
            <p>Nyam! app will help you find your best restaurant in Indonesia.
                Nyam! will guide you through out it's rating, so you could have best experience 
                with Indonesia Culinary Food. <strong>Please Enjoy!</strong>
            </p>
        </section>
        <section class="restaurant-list">
            <h2>Highly Recommended</h2>
            <restaurant-list></restaurant-list>
        </section>
    </main>
    <footer>Copyright &copy; 2020 - Nyam!</footer>
</body>
</html>
